{{define "content"}}
<section class="index-hero">
  <h1>Сбор данных</h1>
  <p>Заполните форму, чтобы передать актуальные данные по своим аккаунтам.</p>
</section>

<section class="form-block">
  <div class="form-block__head">
    <h2>Форма</h2>
  </div>
  <div class="form-embed-shell">
    <script src="https://forms.yandex.ru/_static/embed.js"></script>
    <iframe
      src="https://forms.yandex.ru/u/69d7aeecf47e730bc9daa728?iframe=1"
      frameborder="0"
      name="ya-form-69d7aeecf47e730bc9daa728"
      title="Форма добавления участника"
      loading="lazy"
      class="form-embed-iframe"
      width="650"
    ></iframe>
  </div>
</section>
{{end}}
